<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarService.Properties.Settings.DbOtoBakimServisConnectionString"
            connectionString="Data Source=LAPTOP-OJS2NRNS\SQLEXPRESS01;Initial Catalog=DbOtoBakimServis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>